.note-block {
    
    border: 1px solid lightgray;
    border-radius: 10px;
    
    
}

.note-content{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .row-textarea-note .form-control{
    background-color: transparent;
} */

.input-textarea-note{
    
    min-height: 100px;
    border: 1px solid lightgray;


}

.s-color{
    content: ' ';
    width: 20px;
    height: 20px;
    border: 1px solid lightgray ;
    display: inline-block;
    cursor: pointer;
}

.color-picker .btn-check, .color-picker .btn-primary{
    background-color: transparent;
    padding: 0px;
    border-color: transparent;
}

.color-selected{
    border: 3px solid lightgray;
    width:21px;
    height: 21px;
}

.s-white{
    background-color: white;
}

.s-coral{
    background-color: coral;
}

.s-navy{
    background-color: navy;
}

.s-yellow{
    background-color: lightgoldenrodyellow;
}